.skill {
  background-color: white;
  padding: 100px;
  text-align: center;
}

.skill > h2 {
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: 900;
  color: #333333;
  letter-spacing: 2px;
  font-family: Georgia, Serif;
  text-decoration: underline;
  text-decoration-color: rgb(242, 96, 0);
}

.skill__content {
  display: flex;
  align-items: center;
  flex: wrap;
  justify-content: space-between;
}

.skillCode {
  text-align: center;
}

.skillCode > img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 50px;
}

.skillCode > h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: Georgia, Serif;
}

@media screen and (max-width: 768px) {
  .skill {
    padding: 50px;
  }

  .skill > h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .skill__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .skillCode > img {
    height: 60px;
    margin-bottom: 10px;
  }

  .skillCode > h3 {
    font-size: 23px;
    margin-bottom: 40px;
  }
}
